{% load static %}

<section class="card_board">

    <div class="card_list row">
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/test-product.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>
        <div class="card col-6 col-sm-6 col-md-4 ">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card-reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card-action">
                <button class="btn btn-wish"></button>
                <button class="btn btn-compare"></button>
            </div>
        </div>



    </div>

</section>