{% load static %}
{# col-6 col-sm-6 col-md-3 #}
<section class="filter-board">
</section>
<section class="card-board">

    <div class="card-board__list row">
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>
        <div class="card">
            <div class="card__image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card__title">
                <a href="">
                    <h5>Набор обложек для тетрадей 10 шт Zibi Прозрачные (ZB.4704)</h5>
                </a>
            </div>
            <div class="card__reviews">
                <section class="star-line">
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star fill"></div>
                    <div class="star"></div>
                    <div class="star"></div>
                </section>
                <a href="">29 отзывов</a></div>
            <div class="card__price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"></button>
                </div>
            </div>
            <div class="card__action">
                <button class="btn btn-wish card-btn"></button>
                <button class="btn btn-compare card-btn"></button>
                <button class="btn btn-quick-view card-btn" data-toggle="modal" data-target="#QuickViewModal"></button>
            </div>
        </div>


    </div>

</section>


{# QuickView #}

<div class="modal fade" id="QuickViewModal" tabindex="-1" role="dialog" aria-labelledby="QuickViewModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QuickViewModalLabel">Быстрый просмотр</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="QuickView-modal" class="modal-body row">



                <div class="col-12"></div>
            </div>
            {#                <div class="modal-footer">#}
            {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
            {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
            {#                </div>#}
        </div>
    </div>
</div>


{# !QuickView! #}

