{% load static %}

<section class="card_board">

    <div class="card_list row">
        <div class="card col-6 col-sm-6 col-md-4">
            <div class="card-image">
                <a href="">
                    <img src="/media/images/gori-1920x1080-gori-21589.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Катлетка с пюреешкоооооооооооой kek</h5>
                </a>
            </div>
            <div class="cart-reviews">
                <div><a href="">(29) отзывов</a></div>
            </div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"><img src="{% static 'svg/card/shopping-cart.png' %}" alt=""></button>
                </div>
            </div>

        </div>
        <div class="card col-6 col-sm-6 col-md-4">
            <div class="card-image">
                <a href="">
                    <img src="/media/test-product.jpg" alt="" class="">
                </a>
            </div>
            <div class="card-title">
                <a href="">
                    <h5>Катлетка с пюреешкоооооооооооой kek</h5>
                </a>
            </div>
            <div class="cart-reviews">
                <div><a href="">(29) отзывов</a></div>
            </div>
            <div class="card-price">
                <div class="price"><span>228</span>$</div>
                <div class="action">
                    <button class="btn btn-buy"><img src="{% static 'svg/card/shopping-cart.png' %}" alt=""></button>
                </div>
            </div>

        </div>


    </div>

</section>