{% load static %}

<section class="footer row px-5 p-3">
    <ul class="row">
        <li class="footer-item-header">Информация</li>
        <li class="footer-item"><a href="">О нас</a></li>
        <li class="footer-item"><a href="">Условия использования сайта</a></li>
        <li class="footer-item"><a href="">Гарантии</a></li>
        <li class="footer-item"><a href="">Контакты</a></li>
    </ul>
    <ul class="row">
        <li class="footer-item-header">Помощь</li>
        <li class="footer-item"><a href="">Мои заказы</a></li>
        <li class="footer-item"><a href="">Рассылка</a></li>
        <li class="footer-item"><a href="">Бонусы</a></li>
        <li class="footer-item"><a href="">Мои отзывы</a></li>
    </ul>
    <ul class="row">
        <li class="footer-item-header">Наши соцсети</li>
        <li class="footer-item">
            <a href=""><img class="footer-item-social" src="{% static 'svg/social/telegram.svg' %}" alt=""></a>
        </li>
        <li class="footer-item">
            <a href=""><img class="footer-item-social" src="{% static 'svg/social/instagram.svg' %}" alt=""></a>
        </li>
        <li class="footer-item">
            <a href=""><img class="footer-item-social" src="{% static 'svg/social/youtube.svg' %}" alt=""></a>
        </li>
    </ul>
</section>