{% extends "base.html" %}
{% load static %}

{#{% block title %}#}
{#{% endblock %}#}


{#{% block top %}#}
{#{% endblock %}#}

{% block left %}
{#    <section class="left col-12 col-md-12 col-lg-2">#}
{##}
{#    </section>#}
{% endblock %}

{% block center %}
    <section class="center col-12 col-md-12 col-lg-12">
    <div id="catalog"></div>
        {% include 'basepage/card-board.html' %}
    </section>

{% endblock %}

{% block right %}
{#    <section class="right col-12 col-md-12 col-lg-2">RIGHT</section>#}
{% endblock %}

{% block footer %}

    {% verbatim %}
    <div id="test">

    </div>
    {% endverbatim %}

{% endblock %}

