{% load static %}

{# SignIn && SignUp #}
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Вход</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="auth_test" class="modal-body row">

                {% include 'basepage/sign_in.html' %}

                <div class="col-12"></div>
            </div>
            {#                <div class="modal-footer">#}
            {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
            {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
            {#                </div>#}
        </div>
    </div>
</div>
{# !SignIn && SignUp! #}


{# CART #}
<div class="modal" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {#   if cart is empty     #}
                {#                <section class="cart-empty row">#}
                {#                    <img class="col-4" src="{% static 'svg/modals/cart/cart-empty.png' %}" alt="">#}
                {#                    <h4>Ваша корзина пуста.</h4>#}
                {#                </section>#}
                {#   !if cart is empty!     #}

                {# if cart #}

                <section class="cart">
                    <div class="cart-list">
                        <div class="cart-item">
                            <div class="cart-item-img">
                                <img src="/media/test-product.jpg" alt="">
                            </div>
                            <div class="cart-item-title">
                                <a href="">
                                    <h5>Набор обложек для учебников ZiBi KIDS Line 1 класс 2Набор обложек для учебников
                                        KIDS Line 1 класс 2Набор обложек для учебников Zi</h5>
                                </a>
                                <h6>Продавец: Rozetka</h6>
                            </div>
                            <div class="cart-item-action">
                                <button class="btn btn-action">
                                    <img src="{% static 'svg/func/vertical-dots-fill.png' %}" alt="" class="">
                                </button>
                            </div>
                            <div class="cart-item-price">
                                <div class="quantity">-1+</div>
                                <div class="price"><span>400</span> $</div>
                            </div>
                        </div>
                    </div>
                </section>

                {# !if cart! #}
            </div>
            <div class="modal-footer">
                {# рекомендации\просмотренные #}
            </div>
        </div>
    </div>
</div>
{# !CART! #}