{% load static %}

<form id="auth_in" action="api/sign_in/" class="col-12" method="POST">
    {% csrf_token %}
    <fieldset>
        <label for="i_email">Эл.почта</label>
            {{ sing_in.email }}
{#        <input type="email" id="i_email">#}
    </fieldset>
    <fieldset>
        <label for="i_pass">Пароль</label>
        {{ sing_in.password }}
{#        <input type="password" id="i_pass">#}
    </fieldset>
    <div class="checkbox-line">
        <div>
            {{ sing_in.remember }}
{#            <input type="checkbox" id="i_remember">#}
            <label for="i_remember">Запомнить меня</label>
        </div>
        <a href="">Забыл пароль</a>
    </div>
    <div class="social_auth">
        <button class="btn"><img src="{% static 'svg/social_auth/google-icon.svg' %}" alt="">
        </button>
        <button class="btn"><img src="{% static 'svg/social_auth/telegram.svg' %}" alt=""></button>
    </div>

    <button type="submit"  name="sign_in_name" value="sign_in" class="btn btn-success">Войти</button>
    <a id="to_sign-up" class="another_method" onclick="form_sign_up(this)">Зарегистрироваться</a>
</form>