{% load static %}

<form id="auth_up" action="" class="col-12">
    <fieldset>
        <label for="i_name">Эл.почта</label>
        <input class="input-minimal" type="text" id="i_name">
    </fieldset>
{#    <fieldset>#}
{#        <label for="i_email">Эл.почта</label>#}
{#        <input class="input-minimal" type="email" id="i_email">#}
{#    </fieldset>#}
    <fieldset>
        <label for="i_pass_1">Пароль</label>
        <input class="input-minimal" type="password" id="i_pass_1">
    </fieldset>
    <fieldset>
        <label for="i_pass_2">Повторите пароль</label>
        <input class="input-minimal" type="password" id="i_pass_2">
    </fieldset>
    {#                        <div class="social_auth">#}
    {#                            <button class="btn"><img src="{% static 'svg/social_auth/google-icon.svg' %}" alt="">#}
    {#                            </button>#}
    {#                            <button class="btn"><img src="{% static 'svg/social_auth/telegram.svg' %}" alt=""></button>#}
    {#                        </div>#}

    <button type="submit" class="btn btn-success">Регистрация</button>
    <a id="to_sign-in" class="another_method" onclick="form_sign_in(this)">Войти</a>
</form>