.idea/
venv/
__pycache__/
env/


data/
category.csv
product.csv

node_modules/
package-lock.json

media/Categories
media/ProductImages
media/Products
media/Slides
media/__placeholder__
media/__sized__
static/ckeditor/


celerybeat-schedule
celeryd.pid

privat_settings.py