version: '3'

services:
  db:
    image: mysql:5.7
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'micromason_1'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
  web:
    build: .
    command: bash -c "
      python manage.py migrate
      && python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - .:/usr/src/micromason
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    links:
      - redis:redis
  redis:
    restart: always
    image: redis:2.8
    ports:
      - "6379:6379"
  celery:
    build: .
    restart: always
    image: celery
    command: celery -A MicroMason worker -l info
    volumes:
      - .:/usr/src/micromason
    depends_on:
      - web
      - redis
  celery_beat:
    build: .
    command: celery -A MicroMason beat -l info
    image: celery
    volumes:
      - .:/usr/src/micromason
    depends_on:
      - web
      - redis