@import "colors.scss";
@import "components.scss";

.card-board {
  &__list {
    display: flex;

    padding: 1rem;
  }
  .card {
    display: flex;
    flex-direction: column;

    border-radius: 0;
    padding: 1rem;

    color: $color-main-ad;

    > a {
      position: absolute;

      height: 100%;
      width: 100%;

    }
    &:hover {
      z-index: 999;

      border-radius: 6px;

      transform: scale(1.02);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
    .card__image {
      display: flex;

      z-index: 9;

      height: 70%;
      max-width: 100%;
      margin: .5rem 0;
      a {
        display: flex;

        width: 100%;
        height: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
          margin: auto !important;
        }
      }
    }
    .card__title {
      z-index: 9;

      margin-bottom: 0.25rem !important;
      a {
        color: $color-main-ad;
        h5 {
          display: -webkit-box;

          max-height: 36px;
          margin: 0 !important;

          font-size: 18px;
          line-height: 18px;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .card__price {
      display: flex;
      justify-content: space-between;

      z-index: 9;

      margin: .5rem 0;

      .price {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 24px;
        }
      }
      .action {
        button {
          width: 40px;
          height: 40px;
          padding: .1rem .3rem;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
    .card__reviews {
      display: flex;

      z-index: 9;

      font-size: 14px;
      white-space: nowrap;
      a {
        padding: 0 .2rem;
      }
    }
    .card__action {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
      padding: .7rem;

      button {
        z-index: 10;
        margin: .2rem;
      }
    }

  }

}

section.star-line {
  display: flex;

  margin: .2rem 0;
  width: fit-content;
  .star {
    height: 14px;
    width: 14px;
    margin: 0 .1rem;

    background: url("/static/svg/func/stars/star-no-fill.png") no-repeat;
    background-size: contain;

    &.fill {
      background-image: url("/static/svg/func/stars/star-fill.png");
    }
  }
}

@media (max-width: 576px) {
  .card-board {
    .card {
      padding: .5rem !important;
      .card__title {
        height: 28px !important;
        h5 {
          font-size: 14px !important;
          line-height: 14px !important;
          max-height: 28px !important;
        }
      }
      .card__reviews {
        font-size: 12px !important;
        section.star-line {
          .star {
            height: 12px !important;
            width: 12px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .card-board__list {
    padding: .5rem 0;
  }
}

@media (min-width: 1200px) {
  .card-board__list {
    .card {
      max-width: 20%;
    }
  }
}

@media (max-width: 1200px) {
  .card-board__list {
    .card {
      max-width: 25%;
    }
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .card-board__list {
    .card {
      max-width: 33.3%;
    }
  }
}

@media (max-width: 768px) {
  .card-board__list {
    .card {
      max-width: 50%;
    }
  }
}

@media (max-width: 360px) {
  .card-board__list {
    .card {
      max-width: 100%;
    }
  }
}

//!CARD!