$color-main-ad: #080B10;
$color-main: #0F151F;
$color-main-al: #1D2A3E;

$color-secondary-ad: #424E65;
$color-secondary: #606E83;
$color-secondary-al: #B9CDDA;

$color-accent: #D7DAE5;
$color-accent-al: #ffffff;

$color-danger: #D41131;
$color-success: #3FD411;
$color-warning: #D8AE1C;

$color-info: #a1a0a0;

