@import "colors.scss";
@import "components.scss";

nav.navbar {
  background: $color-main-al;
  padding-top: .3rem;
  .navbar-brand {
    color: $color-accent;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $color-secondary-al;
        &-img {
          height: 35px;
          filter: invert(.85);
          &:nth-child(2) {
            display: none;
          }
        }
        &:hover {
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            display: block;
          }
        }
      }
    }
  }
  .navbar-collapse {
    background: $color-main-al;
    .navbar-nav {
      flex-direction: row;
      .nav-item {
        padding: .2rem .5rem;
        .nav-link {
        }
      }
    }
  }
}

//UserLine
.collapse.navbar-collapse {
  flex-wrap: wrap;
}

.navbar-nav-userline {
  width: 100%;
  color: $color-accent;
  //background: red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ul.navbar-nav {
    white-space: nowrap;
    .nav-link {
      padding: 0 1rem;
      a {
        text-decoration: none;
        color: $color-accent;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav-userline {
    ul.navbar-nav {
      width: 100%;
      li {
        padding: .3rem 0 !important;
      }
      &:first-of-type {
        justify-content: flex-start;
      }
      &:last-of-type {
        //justify-content: flex-end;
        justify-content: space-between;
      }
    }
  }
}

//!UserLine

@media (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: start;
    .navbar-nav {
      width: 100%;
    }
  }
}

//NAVBAR
@media (max-width: 992px) {
  nav.navbar {
    flex-wrap: nowrap;
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100vh;
    padding: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}

//!NAVBAR!

//NavBar Search
nav form.form-search {
  padding: 0;
  input[type='text'] {
    background: rgba(29, 42, 62, .5);
    border-color: $color-secondary-ad;
    color: $color-secondary-al;
    margin: 0 !important;
  }
  button {
    position: absolute;
    right: 0;
    @include btn-outline-success
  }
}

//!NavBar Search!

//Custom NavBar-Toggler
button.navbar-toggler.custom-toggler {
  z-index: 99;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 205, 218)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-secondary-ad !important;
  border-color: transparent !important;

  &:focus {
    outline: none;
  }
}

.navbar-collapse.show ~ button.navbar-toggler.custom-toggler {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(8, 11, 16)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-main-ad !important;
  border-color: transparent !important;
}

//!Custom NavBar-Toggler!

//Dropdown
.navbar-nav-dropdown {
  display: flex;
  flex-direction: column !important;
}

.dropdown {
  width: 100%;
  padding: .2rem .5rem;
  color: $color-secondary-al;

  &__btn {
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;

    div {
      width: 100%;
      a {
        color: $color-secondary-al;
      }
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      display: flex;
      align-items: center;
    }
  }

  &__content,
  &__content a, &__content button {
    font-weight: normal;
    font-size: 0.875rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-indent: 5px;
    //color: $text-color-dark;

    p {
      padding: .2rem;
      margin: 0;
      a {
        color: $color-secondary;
      }
    }
  }

}

//!Dropdown!