@import "colors.scss";
@import "components.scss";

//Прижатие футера
html, body, div.page {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a, a:hover{
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
}

div.wrapper {
  height: 100%;
  flex: 1 0 auto;
}

section.footer {
  flex-shrink: 0;
}

//!Прижатие футера

//NAVBAR
@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100vh;
    padding: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}

//!NAVBAR

section.header {
  nav.navbar {
    background: $color-main-al;
    padding-top: .3rem;

    .navbar-brand {
      color: $color-accent;

    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $color-secondary-al;

          &-img {
            height: 35px;
            filter: invert(.85);

            &:nth-child(2) {
              display: none;
            }
          }
          &:hover {
            img:nth-child(1) {
              display: none;
            }
            img:nth-child(2) {
              display: block;
            }
          }

        }
      }
    }

    .navbar-collapse {
      background: $color-main-al;
      .navbar-nav {
        flex-direction: row;
        .nav-item {
          padding: .2rem .5rem;
          .nav-link {

          }
        }
      }
    }
  }
}

//Custom NavBar-Toggler
button.navbar-toggler.custom-toggler {
  z-index: 99;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 205, 218)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-secondary-ad !important;
  border-color: transparent !important;

  &:focus {
    outline: none;
  }
}

.navbar-collapse.show ~ button.navbar-toggler.custom-toggler {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(8, 11, 16)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-main-ad !important;
  border-color: transparent !important;
}

//!Custom NavBar-Toggler

//NavBar Search
nav form.form-search {
  padding: 0;
  input[type='text'] {
    background: rgba(29, 42, 62, .5);
    border-color: $color-secondary-ad;
    color: $color-secondary-al;
    margin: 0 !important;
  }
  button {
    position: absolute;
    right: 0;
    @include btn-outline-success
  }
}

//!NavBar Search

div.page {
  .wrapper {

    margin: 0 !important;

    section.left {
      background: blue;
    }

    section.center {
      background: red;
    }

    section.right {
      background: green;
    }
  }
  section.footer {
    background: black;
  }
}

//Dropdown
.navbar-nav-dropdown {
  display: flex;
  flex-direction: column !important;
}

.dropdown {
  width: 100%;
  padding: .2rem .5rem;
  color: $color-secondary-al;

  &__btn {
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;

    div {
      width: 100%;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      display: flex;
      align-items: center;
    }
  }

  &__content,
  &__content a, &__content button {
    font-weight: normal;
    font-size: 0.875rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-indent: 5px;
    //color: $text-color-dark;

    p {
      padding: .2rem;
      margin: 0;
      a {
        color: $color-secondary;
      }
    }
  }

}

//!Dropdown

//
@media (max-width: 991px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: start;
    .navbar-nav {
      width: 100%;
    }
  }
}

//

//UserLine
.collapse.navbar-collapse {
  flex-wrap: wrap;
}

.navbar-nav-userline {
  width: 100%;
  color: $color-accent;
  //background: red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ul.navbar-nav {
    white-space: nowrap;
    .nav-link {
      padding: 0 1rem;
      a {
        text-decoration: none;
        color: $color-accent;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav-userline {
    ul.navbar-nav {
      width: 100%;
      li {
        padding: .3rem 0 !important;
      }
      &:first-of-type {
        justify-content: flex-start;
      }
      &:last-of-type {
        //justify-content: flex-end;
        justify-content: space-between;
      }
    }
  }
}

//!UserLine

//Center MODAL
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

@media (max-width: 991px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

//!Center MODAL

//Modal AUTH
div.modal#auth {

  .modal-body {
    margin: 0;
  }

  form {
    label {
      cursor: pointer;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      padding: .3rem;
      label {
        font-size: 14px;
        color: $color-secondary;
        margin: 0;
        width: 100%;
      }
      input {
        border: 1px solid $color-secondary;
        border-radius: 5px;
        width: 100%;
      }
    }
    .checkbox-line {
      display: flex;
      justify-content: space-between;
      padding: 0 .3rem;
      a {
        text-decoration: none;
      }
    }
    .social_auth {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      button {
        width: 60px;
        height: 60px;
        //background: red;
        border-radius: 50px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    button[type='submit'] {
      width: 100%;
      margin: .2rem 0;
    }
    a.another_method {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }

}

//!Modal AUTH