@import "colors.scss";
@import "components.scss";

// ИМЯ-БЛОКА__БЛОК-ЭЛЕМЕНТ_МОДИФИКАТОР

// СТРУКТУРА

// Display
// Position
// Size
// Styles
// Fonts
//
// Other

// !СТРУКТУРА!

div.page {
  width: 100%;
  .page__wrapper {
    display: flex;
    align-self: center;

    margin: 0 !important;

    section.left {
      background: blue;
    }

    section.center {
      //background: red;
      padding: 0;
    }

    section.right {
      background: green;
    }
  }
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

//MODAL
.modal {
  background: linear-gradient(0deg, rgba(29, 42, 62, 0.8) 0%, rgba(215, 218, 229, 0.2) 100%);
  z-index: 9999;
}
//!MODAL!

//Center MODAL
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  //max-width: none!important;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

@media (max-width: 992px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  #cartModal {
    .modal-dialog {
      max-width: 960px;
    }
  }
}

//!Center MODAL

//Modal AUTH
div.modal#authModal {

  .modal-body {
    margin: 0;
  }

  form {
    label {
      cursor: pointer;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      padding: .3rem;
      label {
        font-size: 14px;
        color: $color-secondary;
        margin: 0;
        width: 100%;
      }
      input {
        //border: 1px solid $color-secondary;
        //border-radius: 5px;
        width: 100%;
      }
    }
    .checkbox-line {
      display: flex;
      justify-content: space-between;
      padding: 0 .3rem;
      a {
        text-decoration: none;
      }
    }
    .social_auth {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      button {
        width: 60px;
        height: 60px;
        //background: red;
        border-radius: 50px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    button[type='submit'] {
      width: 100%;
      margin: .5rem 0;
    }
    a.another_method {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }

}

//!Modal AUTH

//Cart
section.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin: 2rem;
  }
}

section.cart {
  .cart-list {
    display: flex;
    flex-direction: column;
    .cart-item {
      display: grid;
      grid-template-columns: 96px auto auto;
      margin: .1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #dee2e6;
      &-img {
        flex: 1;
        display: flex;
        justify-content: center;
        img {
          max-height: 96px;
        }
      }
      &-title {
        padding: 0 1.5rem;
        overflow: hidden;
        a {
          color: $color-main-al;
          h5 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        h6 {
          color: $color-secondary-ad;
        }
      }

      &-action {
        display: flex;
        justify-content: flex-end;
      }

      &-price {
        display: flex;
        justify-content: flex-end;
        grid-column: 1/4;

        .quantity {
          margin-left: auto;
          margin-right: auto;
        }
        .price {
          font-size: 1em;
          span {
            font-size: 1.25em;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//!Cart!

// КАТЕГОРИИ
.categories {
  display: none;

  position: fixed;
  z-index: 999;

  width: 100%;
  height: 100%;
  padding: .5rem 0;

  background: rgba(29, 42, 62, .6);

  &.active {
    display: block;
  }
  &__content {
    height: 100%;
    display: flex;
  }
  &__list {
    padding: 1rem 1.5rem;
    border-radius: 0 0 24px 24px;
    width: 20%;
    min-width: 230px;

    list-style: none;
    background: $color-main-al;

    animation-duration: .5s;

    &.active {
      border-radius: 0 0 0 24px !important;
    }
    height: max-content;
  }
  &__list-item {
    padding: .3rem .7rem;
    border-radius: 12px;
    margin: .5rem 0;
    white-space: nowrap;
    color: $color-accent;
    &:hover {
      background: $color-secondary-ad;
    }
  }
  &__list_sub {
    display: none;
    list-style: none;
    background: $color-main-al;
    color: $color-accent;
    &.active {
      display: flex;
    }
    &:hover {
      display: flex;
    }

  }
  &__list-item_sub {
    color: $color-secondary-al;
    &_header {
      color: $color-accent-al;
      margin: .2rem 0;
    }
  }
}

@media (max-width: 992px) {

  .categories {
    display: none !important;
  }
  #btn_burger {
    display: none !important;
  }
}

// !КАТЕГОРИИ!




