@import "colors.scss";
@import "components.scss";

//Прижатие футера
html, body, div.page {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.row {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
}

div.wrapper {
  height: 100%;
  flex: 1 0 auto;
}

section.footer {
  flex-shrink: 0;
}

//!Прижатие футера

//NAVBAR
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100vh;
    padding: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
}

//!NAVBAR

section.header {
  z-index: 9999;
  nav.navbar {
    background: $color-main-al;
    padding-top: .3rem;

    .navbar-brand {
      color: $color-accent;

    }

    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $color-secondary-al;

          &-img {
            height: 35px;
            filter: invert(.85);

            &:nth-child(2) {
              display: none;
            }
          }
          &:hover {
            img:nth-child(1) {
              display: none;
            }
            img:nth-child(2) {
              display: block;
            }
          }

        }
      }
    }

    .navbar-collapse {
      background: $color-main-al;
      .navbar-nav {
        flex-direction: row;
        .nav-item {
          padding: .2rem .5rem;
          .nav-link {

          }
        }
      }
    }
  }
}

//Custom NavBar-Toggler
button.navbar-toggler.custom-toggler {
  z-index: 99;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(185, 205, 218)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-secondary-ad !important;
  border-color: transparent !important;

  &:focus {
    outline: none;
  }
}

.navbar-collapse.show ~ button.navbar-toggler.custom-toggler {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(8, 11, 16)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  //border-color: $color-main-ad !important;
  border-color: transparent !important;
}

//!Custom NavBar-Toggler

//NavBar Search
nav form.form-search {
  padding: 0;
  input[type='text'] {
    background: rgba(29, 42, 62, .5);
    border-color: $color-secondary-ad;
    color: $color-secondary-al;
    margin: 0 !important;
  }
  button {
    position: absolute;
    right: 0;
    @include btn-outline-success
  }
}

//!NavBar Search

div.page {
  .wrapper {

    margin: 0 !important;

    section.left {
      background: blue;
    }

    section.center {
      background: red;
    }

    section.right {
      background: green;
    }
  }
}

//Dropdown
.navbar-nav-dropdown {
  display: flex;
  flex-direction: column !important;
}

.dropdown {
  width: 100%;
  padding: .2rem .5rem;
  color: $color-secondary-al;

  &__btn {
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    position: relative;

    div {
      width: 100%;
      a {
        color: $color-secondary-al;
      }
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;

      display: flex;
      align-items: center;
    }
  }

  &__content,
  &__content a, &__content button {
    font-weight: normal;
    font-size: 0.875rem;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-indent: 5px;
    //color: $text-color-dark;

    p {
      padding: .2rem;
      margin: 0;
      a {
        color: $color-secondary;
      }
    }
  }

}

//!Dropdown

//
@media (max-width: 992px) {
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: start;
    .navbar-nav {
      width: 100%;
    }
  }
}

//

//UserLine
.collapse.navbar-collapse {
  flex-wrap: wrap;
}

.navbar-nav-userline {
  width: 100%;
  color: $color-accent;
  //background: red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  ul.navbar-nav {
    white-space: nowrap;
    .nav-link {
      padding: 0 1rem;
      a {
        text-decoration: none;
        color: $color-accent;
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-nav-userline {
    ul.navbar-nav {
      width: 100%;
      li {
        padding: .3rem 0 !important;
      }
      &:first-of-type {
        justify-content: flex-start;
      }
      &:last-of-type {
        //justify-content: flex-end;
        justify-content: space-between;
      }
    }
  }
}

//!UserLine

//Center MODAL
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  //max-width: none!important;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

@media (max-width: 992px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

@media (min-width: 768px) {
  #cartModal {
    .modal-dialog {
      max-width: 960px;
    }
  }
}

//!Center MODAL

//Modal AUTH
div.modal#authModal {

  .modal-body {
    margin: 0;
  }

  form {
    label {
      cursor: pointer;
    }
    fieldset {
      display: flex;
      flex-direction: column;
      padding: .3rem;
      label {
        font-size: 14px;
        color: $color-secondary;
        margin: 0;
        width: 100%;
      }
      input {
        border: 1px solid $color-secondary;
        border-radius: 5px;
        width: 100%;
      }
    }
    .checkbox-line {
      display: flex;
      justify-content: space-between;
      padding: 0 .3rem;
      a {
        text-decoration: none;
      }
    }
    .social_auth {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      button {
        width: 60px;
        height: 60px;
        //background: red;
        border-radius: 50px;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    button[type='submit'] {
      width: 100%;
      margin: .5rem 0;
    }
    a.another_method {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }

}

//!Modal AUTH

//Footer
section.footer {
  background: $color-main-al;
  color: $color-accent;
  ul {
    list-style: none;
    padding-left: 0;
    li {
      list-style: none;
    }
  }
  display: flex;
  justify-content: space-around;
  ul.row {
    padding: .4rem 0;
    //flex-wrap: wrap;
    flex-direction: column;

    &:last-of-type {
      flex-direction: row;
    }
    li.footer-item {
      &-header {
        width: 100%;
      }

      img.footer-item-social {
        height: 40px;
        width: 40px;
        margin: 0 .3em;
      }

    }
  }

}

@media (max-width: 768px) {
  section.footer {
    justify-content: flex-start;
    ul.row {
      width: 50%;
    }
  }
}

@media (max-width: 576px) {
  section.footer {
    ul.row {
      width: 100%;
    }
  }
}

//!Footer!

//Cart
section.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    margin: 2rem;
  }
}

section.cart {
  .cart-list {
    display: flex;
    flex-direction: column;
    .cart-item {
      display: grid;
      grid-template-columns: 96px auto auto;
      margin: .1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #dee2e6;
      &-img {
        flex: 1;
        display: flex;
        justify-content: center;
        img {
          max-height: 96px;
        }
      }
      &-title {
        padding: 0 1.5rem;
        overflow: hidden;
        a {
          color: $color-main-al;
          h5 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        h6 {
          color: $color-secondary-ad;
        }
      }

      &-action {
        display: flex;
        justify-content: flex-end;
      }

      &-price {
        display: flex;
        justify-content: flex-end;
        grid-column: 1/4;

        .quantity {
          margin-left: auto;
          margin-right: auto;
        }
        .price {
          font-size: 1em;
          span {
            font-size: 1.25em;
            font-weight: bold;
          }
        }
      }
    }
  }
}

//!Cart!

//CARD

section.card_board {
  .card_list {
    .card {
      > a {
        position: absolute;
        height: 100%;
        width: 100%;

      }
      &:hover {
        transform: scale(1.02);
        z-index: 999;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
      }
      border-radius: 0;
      padding: 1rem;
      color: $color-main-ad;
      width: 100%;
      height: 400px;
      max-height: 400px;
      display: flex;
      flex-direction: column;
      .card-image {
        height: 70%;
        max-width: 100%;
        //max-height: 70%;
        max-height: 250px;
        display: flex;
        z-index: 9;
        a {
          width: 100%;
          height: 100%;
          display: flex;
          img {
            max-width: 100%;
            max-height: 100%;
            margin: auto !important;
            padding: 1rem 0;
          }
        }
      }
      .card-title {
        height: 36px;
        overflow: hidden;
        margin-bottom: .2rem;
        z-index: 9;
        a {
          color: $color-main-ad;
          h5 {
            font-size: 18px;
            line-height: 18px;
            max-height: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            font-weight: 400;
          }
        }
      }
      .card-price {
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        z-index: 9;
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 24px;
          }
        }
        .action {

          button {
            width: 40px;
            height: 40px;
            padding: .1rem .3rem;
            img {
              max-width: 100%;
              max-height: 100%;
              //filter: invert(.85);
            }
          }
        }
      }
      .card-reviews {
        font-size: 14px;
        display: flex;
        white-space: nowrap;
        z-index: 9;
        a {
          padding: 0 .2rem;
        }
      }

      .card-action {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        //z-index: 5;
        align-items: flex-end;
        flex-direction: column;
        padding: .7rem;
        button{
          z-index: 10;
          margin: .2rem;
        }
      }

    }
  }

}

@media (max-width: 576px) {
  section.card_board {
    .card {
      padding: .5rem !important;
      height: 270px !important;
      .card-image {
        height: 60% !important;
        img {
          padding: .5rem !important;
        }
      }
      .card-title {
        height: 28px !important;
        h5 {
          font-size: 14px !important;
          line-height: 14px !important;
          max-height: 28px !important;
        }
      }
      .card-reviews {
        font-size: 12px !important;
        section.star-line {
          .star {
            height: 12px !important;
            width: 12px !important;
          }
        }
      }
    }
  }
}

section.star-line {
  margin: .2rem 0;
  display: flex;
  width: fit-content;
  .star {
    height: 14px;
    width: 14px;
    background-image: url("/static/svg/func/stars/star-no-fill.png");
    background-size: contain;
    margin: 0 .1rem;
    &.fill {
      background-image: url("/static/svg/func/stars/star-fill.png");
    }
  }
}

//!CARD!