{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# jQuery #}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    {# !jQuery #}

    {# Bootstarp 4 #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.bundle.js' %}"></script>
    {# !Bootstarp 4 #}

    {# Icons #}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>
    {# !Icons #}


    {# Styles #}
    <link rel="stylesheet" href="{% static '/build/styles/style.css' %}">
    {# !Styles #}


    {# Links #}
    {% block links %}{% endblock %}
    {# !Links #}

    {# VueJs #}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    {# !VueJs #}

    {# Axios #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {# !Axios #}


    <title>{% block title %} Micro Mason {% endblock %}</title>
</head>
<body>

<div class="page w-100">
        <div class="test">
            {% for key, value in categories.items %}
                <p>{{ key.name }}</p>
                <p>{{ key }}</p>
                <p>{{ value }}</p>
            {% endfor %}
        </div>

    {% block top %}
        <section class="header">
            <nav class="navbar navbar-expand-lg fixed-top">
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse container-md" id="navbarCollapse">
                    <div class="navbar-nav-userline">
                        <ul class="navbar-nav">
                            <span>38000000000</span>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-link language">
                                <span><a href="">RU</a></span> | <span><a href="">UA</a></span>
                            </li>
                            <li class="nav-link user">
                                <a href="" data-toggle="modal" data-target="#auth">Вход</a>
                            </li>
                        </ul>
                    </div>

                    <a class="navbar-brand" href=""><h2>MicroMason</h2></a>

                    <form class="form-search form-inline mt-0 mt-md-0 mx-auto col-6 row d-lg-flex d-md-none d-sm-none d-none">
                        <input class="form-control mr-sm-2 col" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Поиск</button>
                    </form>

                    <ul class="navbar-nav navbar-nav-dropdown d-block d-lg-none">
                        {% for category in categories %}
                            <div class="dropdown">
                                <div class="dropdown__btn">
                                    <div>{{ category.name }}</div>
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                                <div class="dropdown__content">
                                    <p><a href="{{ category.slug }}">{{ category.children }}</a></p>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>

                    <ul class="navbar-nav justify-content-around mt-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/comparison-outline.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/comparison-filled.png' %}" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/heart-black-outline.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/heart-black-filled.png' %}" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            {#                            <a class="nav-link" href="#">#}
                            {#                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">#}
                            {#                            </a>#}
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-hover.png' %}" alt="">
                            </a>
                        </li>
                    </ul>

                </div>


                <form class="form-search form-inline mt-0 mt-md-0 mx-auto col-8 row d-sm-flex d-lg-none">
                    <input class="form-control mr-sm-2 col" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav d-flex d-lg-none" style="padding: 0.25rem 0.75rem;">
                    <li class="nav-item">
                        {#                            <a class="nav-link" href="#">#}
                        {#                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">#}
                        {#                            </a>#}
                        <a class="nav-link" href="#">
                            <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">
                            <img class="nav-link-img" src="{% static '/svg/shopping-cart-hover.png' %}" alt="">
                        </a>
                    </li>
                </ul>
            </nav>

        </section>
    {% endblock %}

    <div class="wrapper row container align-self-center">

        {% block left %}



        {% endblock %}

        {% block center %}
        {% endblock %}

        {% block right %}
        {% endblock %}

    </div>

    {% block bottom %}
        <section class="footer">
            FOOTER
        </section>
    {% endblock %}

    <!-- Modal -->
    <div class="modal fade" id="auth" tabindex="-1" role="dialog" aria-labelledby="auth"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authLabel">Вход</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="auth_test" class="modal-body row">

                    {% include 'basepage/sign_in.html' %}

                    <div class="col-12"></div>
                </div>
                {#                <div class="modal-footer">#}
                {#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
                {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                {#                </div>#}
            </div>
        </div>
    </div>


</div>

{# Scripts #}
<script src="{% static '/build/js/script.js' %}"></script>

<script src="{% static 'app.js' %}"></script>

{# !Scripts #}
</body>
</html>