{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {# Bootstarp 4 #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {# !Bootstarp 4 #}

    {# Styles #}
    <link rel="stylesheet" href="{% static '/build/styles/style.css' %}">
    {# !Styles #}

    {# Scripts #}
    <script src="{% static '/build/js/script.js' %}"></script>
    {# !Scripts #}

    {# Links #}
    {% block links %}{% endblock %}
    {# !Links #}


    <title>{% block title %} Micro Mason {% endblock %}</title>
</head>
<body>

<div class="page w-100">

    {% block top %}
        <section class="header">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="">MicroMason</a>

                <div class="collapse navbar-collapse" id="navbarCollapse">

                    <form class="form-search form-inline mt-2 mt-md-0 mx-auto col-6 row">
                        <input class="form-control mr-sm-2 col" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/comparison-outline.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/comparison-filled.png' %}" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/heart-black-outline.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/heart-black-filled.png' %}" alt="">
                            </a>
                        </li>
                        <li class="nav-item">
{#                            <a class="nav-link" href="#">#}
{#                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">#}
{#                            </a>#}
                            <a class="nav-link" href="#">
                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-empty.png' %}" alt="">
                                <img class="nav-link-img" src="{% static '/svg/shopping-cart-hover.png' %}" alt="">
                            </a>
                        </li>
                    </ul>

                </div>
                <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </section>
    {% endblock %}

    <div class="wrapper row w-100">

        {% block left %}
        {% endblock %}

        {% block center %}
        {% endblock %}

        {% block right %}
        {% endblock %}

    </div>

    {% block bottom %}
        <section class="footer">
            FOOTER
        </section>
    {% endblock %}


</div>


</body>
</html>