//Light(main) theme

:root {
  --background-dark: #0D1F2F;
  --background-dark-accent: #1F3044;
  --background-dark-second: #424e65;
  --background-content: #f2f3f5;

  --accent: #e95d2a;
  --accent-hover: #d5410b;

  --background-light: #efefef;
  --background-light-second: #e9e9e9;

  --link: #3e77aa;
  --link-hover: #f2606d;

  --text-main: black;
  --text-light: #d1d1d2;
  --text-muted: lightgray;
  --text-second: #B2B2B3;

  --btn-disabled-background: gray;
  --btn-disabled-text: #dbdbdb;
  --btn-disabled-border: #717171;


  --btn-primary-text: #fff;
  --btn-primary-background: #3b4a63;
  --btn-primary-border: #2d3c54;

  --card-background: rgb(245, 246, 248);
  --card-text: #0a1926;
  --card-border: rgba(0, 0, 0, 0.125);
  --card-button: var(--card-text);
  --card-background-preload: white;


  --label-text: var(--text-main);
  --input-background: inherit;
  --input-text: var(--text-main);
  --input-text-error: red;
  --input-border: #e5e5e5;
  --input-action: gray;

  --modal-close: darkgray;
  --modal-background: var(--background-content);

  --button-success-text: white;
  --button-burger-text: white;

  --product-board-bg: var(--background-light);
  --product-board-border: #e9e9e9;

  --account-board-bg: #F5F6F8;

  --comment-accent: var(--accent);
  --comment-background: transparent;
}


[theme="dark"] {
  --background-dark: #0A1926;
  --background-dark-accent: #1F3044;
  --background-dark-second: rgb(179, 173, 163);
  --background-content: #1E2122;

  --accent: #e95d2a;
  --accent-hover: #d5410b;

  --background-light: rgb(24, 26, 27);
  --background-light-second: #242729;

  --link: rgb(116, 165, 204);
  --link-hover: #f2606d;

  --text-main: rgb(232, 230, 227);
  --text-light: #d1d1d2;
  --text-muted: gray;
  --text-second: #B2B2B3;



  --btn-disabled-text: #dbdbdb;
  --btn-disabled-background: gray;
  --btn-disabled-border: #717171;

  --btn-primary-text: #fff;
  --btn-primary-background: #3b4a63;
  --btn-primary-border: #2d3c54;

  --card-background: #181a1b;
  --card-text: white;
  --card-border: rgba(255, 255, 255, 0.075);
  --card-button: var(--card-text);
  --card-background-preload: var(--background-content);

  --label-text: var(--text-main);
  --input-background: var(--background-content);
  --input-text: var(--text-main);
  --input-text-error: #D41131;
  --input-border: rgb(55, 60, 62);
  --input-action: gray;

  --modal-close: darkgray;
  --modal-background: var(--background-content);

  --button-success-text: white;
  --button-burger-text: white;

  --product-board-bg: var(--background-light);
  --product-board-border: rgb(54, 59, 61);

  --account-board-bg: var(--background-content);

  --comment-accent: var(--accent);
  --comment-background: transparent;
}




















