

@keyframes flare {
  0% {
    left: 0;
    top: -100%;
  }
  100% {
    left: 100%;
    top: 0;
  }
}


.card__image, .product__slider {
  &.loading {
    overflow: hidden !important;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;

      width: 5%;
      height: 200%;
      background: #fff;
      filter: blur(20px);

      z-index: 1;
      transform: rotate(45deg);

      animation-name: flare;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

.w-mc{
  width: min-content !important;
}
.w-fc{
  width: fit-content !important;
}




